<!doctype HTML>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name='copyright' content="DSAC LLC">
	<meta name='language' content="ES">
	<meta name="robots" content="index,follow">
	<meta name='author' content="Jeffrey Reiher, jeffreiher@gmail.com">
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name='keywords' content="{% block keywords %}{% endblock %}"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/svg+xml" href="#">
	<link href='http://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	
	<link rel="stylesheet" href="/static/css/jcarousel.responsive.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	

</head>

<body>
	
	<div class="container">
		<div class="header">

			<div class="nav-hidden">
				<ul class="desktop">
					<li><a href="/home"><i class="fa fa-home fa-lg social"></i>&nbsp;&nbsp; Home</a></li>
					<li><a href="/blog"><i class="fa fa-comments-o fa-lg social"></i>&nbsp;&nbsp; Blog</a></li>
					<li><a href="/projects"><i class="fa fa-file-code-o fa-lg social"></i>&nbsp;&nbsp; Projects</a></li>
				</ul>
			</div>
			
			<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<span class='icon'><i class="fa fa-bars fa-2x"></i></span>
			</button>
			<a href="/home"><img class="head" src="/static/images/images_dest/jwr_black_crop-200_small.svg" height="100"></a>

			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="/home"><i class="fa fa-home fa-lg social"></i>&nbsp;&nbsp; Home</a></li>
				<li><a href="/blog"><i class="fa fa-comments-o fa-lg social"></i>&nbsp;&nbsp; Blog</a></li>
				<li><a href="/projects"><i class="fa fa-file-code-o fa-lg social"></i>&nbsp;&nbsp; Projects</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="https://github.com/jreiher2003" target="_blank" ><i class="fa fa-github fa-lg social"></i>&nbsp; |&nbsp;  Github</a></li>
				<li><a href="https://www.linkedin.com/nhome/" target="_blank"><i class="fa fa-linkedin fa-lg social"></i></i>&nbsp; |&nbsp;  LinkedIn</a></li>
				<li><a href="https://twitter.com/BigJeffDogg" target="_blank"><i class="fa fa-twitter fa-lg social"></i>&nbsp; | &nbsp;Twitter</a></li>
				<li><a href="https://www.facebook.com/jeff.reiher" target="_blank" ><i class="fa fa-facebook fa-lg social"></i>&nbsp;&nbsp; | &nbsp; Facebook</a></li>
			</ul>
			</div>

		</div>

		{% block section %}{% endblock %}


		<footer>
			<ul class="social">
				<li style="padding-left:0px;"><a href="https://github.com/jreiher2003" target="_blank" class="git">GitHub</a></li>
				<li><a href="https://www.linkedin.com/nhome/" target="_blank" class="linkedin">LinkedIn</a></li>
				<li><a href="https://twitter.com/BigJeffDogg" target="_blank" class="twitter">Twitter</a></li>
				<li><a href="https://www.facebook.com/jeff.reiher" target="_blank" class="facebook">Facebook</a></li>
			</ul>	
			<div class="bottom-footer">
				<figure>
				<a href="/home"><img class="foot" src="static/images/images_dest/jeffreihercom_crop-200_small.svg" alt="logo of jeffreiher.com"></a>
				<figcaption>&#169;&nbsp;Copyright 2015 DSAC LLC.&nbsp; All Rights Resevered</figcaption>
				</figure>
			</div>
		</footer>

	</div>

	<script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	
	<script type="text/javascript" src="/static/js/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="/static/js/jcarousel.responsive.js"></script>
	<script type="text/javascript" src="/static/js/menu.js"></script>
	
</body>
</html>