<!doctype HTML>
<html>
<head>
	<title>Jeff Reiher</title>
	<meta charset="UTF-8">
	<meta name='keywords' content='Jeffrey Reiher'>
	<meta name='copyright' content="DSAC LLC">
	<meta name='language' content="ES">
	<meta name="robots" content="index,follow">
	<meta name='author' content="Jeffrey Reiher, jeffreiher@gmail.com">
	<meta name="description" content="A personal web page to connect with Jeffrey Reiher">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/svg+xml" href="#">
	<link href='http://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/jcarousel.responsive.css">
	

</head>

<body>
	
	<div class="container">
		<div class="header">
			<span class='icon'><i class="fa fa-bars fa-2x"></i></span>
			<a href="#"><img class="head" src="/static/images/images_dest/jwr_black_crop-200_small.svg" height="100"></a>
		</div>

		<div class="wrapper">
		<div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><img src="https://placehold.it/250x150" alt="Image 1"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 2"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 3"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 4"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 5"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 6"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 7"></li>
                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                <p class="jcarousel-pagination"></p>
            </div>
        </div>


		<table class="table table-striped table-bordered">
     <thead>
       
        <tr>
           <th>Jeff Reiher <span>Web Developer</span></th>
       </tr>
   </thead>
   <tbody>
      <tr>
        <td><b>ht:</b> 5'9" <b>wt:</b> 180</td> 
    </tr>
    <tr>
        <td><b>born:</b> 11-14-1979 Waukegan, IL</td>
    </tr>
    <tr>
        <td><b>Home:</b> Heredia, Costa Rica</td>
    </tr>
    <tr>
        <td><b>Current:</b> Cape Haze, FL.</td>
    </tr>
    <tr>
        <td><b>Programming Languages:</b> Python, javascript, bootstrap, gae</td>
    </tr>

    <tbody>
    </table>

		<hr class="style-eight">
		<div class="button1"><button class="btn btn-success">Call Me</button></div>
		<div class="button2"><button class="btn btn-warning">Text me</button></div>
		<hr class="style-eight">
		<div class="info1">
			<h3>Technologies I know how to use</h3>
			<ul>
				<li>Python, I am an advid pythonista.</li>
				<li>Google app engine or GAE.  I love the GAE.</li>
				<li>Responsive Design with flex-box.</li>
				<li>Twitter Bootstrap.</li>
			</ul>
		</div>
		<div class="info2">
		<h3>Projects I would like to work on</h3>
			<ul>
				<li>Anything with machine learning algorightms.</li>
				<li>Modeling data for the stock market.</li>
				<li>All sports stats and modeling data for all sports.</li>
				<li>Any Technology that can help change the world.</li>
			</ul>
		</div>
		<footer>
			<ul class="social">
				<li style="padding-left:0px;"><a href="#" class="git">GitHub</a></li>
				<li><a href="#" class="linkedin">LinkedIn</a></li>
				<li><a href="#" class="twitter">Twitter</a></li>
				<li><a href="#" class="facebook">Facebook</a></li>
			</ul>	
			<div class="bottom-footer">
				<figure>
				<a href="#"><img class="foot" src="static/images/images_dest/jeffreihercom_crop-200_small.svg" alt="logo of jeffreiher.com"></a>
				<figcaption>&#169;&nbsp;Copyright 2015 DSAC LLC.&nbsp; All Rights Resevered</figcaption>
				</figure>
			</div>
		</footer>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="/static/js/jcarousel.responsive.js"></script>
	
</body>
</html>