<!doctype HTML>
<html>
<head>
	<title>Jeff Reiher</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="./static/styles.css">
</head>

<body>
	<h1>Jeff&nbsp;Reiher</h1>
	<p>dthis is a comment</p>
	<span class="glyphicon glyphicon-menu-hamburger bars" aria-hidden="true"></span>

</body>
</html>