<!doctype HTML>
<html>
<head>
	<title>Jeff Reiher</title>
	<meta charset="UTF-8">
	<meta name='keywords' content='Jeffrey Reiher, Jeff Reiher, Web Developer, fullstack developer'>
	<meta name='copyright' content="DSAC LLC">
	<meta name='language' content="ES">
	<meta name="robots" content="index,follow">
	<meta name='author' content="Jeffrey Reiher, jeffreiher@gmail.com">
	<meta name="description" content="A personal web page to connect with Jeffrey Reiher">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/svg+xml" href="#">
	<link href='http://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	
	<link rel="stylesheet" href="/static/css/jcarousel.responsive.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	

</head>

<body>
	
	<div class="container">
		<div class="header">

			<div class="nav-hidden">
				<ul class="desktop">
					<li><a href="#"><i class="fa fa-comments-o fa-lg social"></i>&nbsp;&nbsp; Blog</a></li>
					<li><a href="#"><i class="fa fa-file-code-o fa-lg social"></i>&nbsp;&nbsp; Projects</a></li>
				</ul>
			</div>
			
			<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<span class='icon'><i class="fa fa-bars fa-2x"></i></span>
			</button>
			<a href="#"><img class="head" src="/static/images/images_dest/jwr_black_crop-200_small.svg" height="100"></a>

			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
<!-- 				<li><a href="#"><i class="fa fa-cog fa-lg social"></i>&nbsp;&nbsp; settings</a></li> -->
				<li><a href="#"><i class="fa fa-comments-o fa-lg social"></i>&nbsp;&nbsp; Blog</a></li>
				<li><a href="#"><i class="fa fa-file-code-o fa-lg social"></i>&nbsp;&nbsp; Projects</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="https://github.com/jreiher2003" target="_blank" ><i class="fa fa-github fa-lg social"></i>&nbsp; |&nbsp;  Github</a></li>
				<li><a href="https://www.linkedin.com/nhome/" target="_blank"><i class="fa fa-linkedin fa-lg social"></i></i>&nbsp; |&nbsp;  LinkedIn</a></li>
				<li><a href="https://twitter.com/BigJeffDogg" target="_blank"><i class="fa fa-twitter fa-lg social"></i>&nbsp; | &nbsp;Twitter</a></li>
				<li><a href="https://www.facebook.com/jeff.reiher" target="_blank" ><i class="fa fa-facebook fa-lg social"></i>&nbsp;&nbsp; | &nbsp; Facebook</a></li>
			</ul>
			</div>

		</div>

		<div class="wrapper">
		<div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li><img src="https://placehold.it/250x150" alt="Image 1"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 2"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 3"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 4"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 5"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 6"></li>
                        <li><img src="https://placehold.it/250x150" alt="Image 7"></li>
                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                <p class="jcarousel-pagination"></p>
            </div>
        </div>


		<table class="table table-striped table-bordered">
     <thead>
       
        <tr>
           <th>Jeff Reiher <span class="small">Web Developer</span></th>
       </tr>
   </thead>
   <tbody>
      <tr>
        <td><b>ht:</b> 5'9" <b>wt:</b> 180</td> 
    </tr>
    <tr>
        <td><b>born:</b> 11-14-1979 Waukegan, IL</td>
    </tr>
    <tr>
        <td><b>Home:</b> Heredia, Costa Rica</td>
    </tr>
    <tr>
        <td><b>Current:</b> Cape Haze, FL.</td>
    </tr>
    <tr>
        <td><b>Programming Languages:</b> Python, javascript, bootstrap, gae</td>
    </tr>

    <tbody>
    </table>

		<hr class="style-eight">
		<div class="button1"><a href="tel:+1-941-585-3084"><button class="btn btn-success">Call Me</button></a></div>
		<div class="button2"><a href="sms:+1-941-585-3084"><button class="btn btn-warning">Text me</button></a></div>
		<hr class="style-eight">
		<div class="info1">
			<h4>Technologies I know how to use</h4>
			<ul>
				<li>Python, I am an advid pythonista.</li>
				<li>Twitter Bootstrap.</li>
				<li>Responsive Design with flex-box.</li>
				<li>SQLAlchemy relational and mongoDB JSON-style databases.<li>
				<li>Google app engine or GAE.  I love the GAE.</li>
			</ul>
		</div>
		<div class="info2">
		<h4>Projects I would like to work on</h4>
			<ul>
				<li>Anything with machine learning algorightms.</li>
				<li>Modeling data for the stock market.</li>
				<li>All sports stats and modeling data for all sports.</li>
				<li>Any Technology that can help change the world.</li>
			</ul>
		</div>
		<footer>
			<ul class="social">
				<li style="padding-left:0px;"><a href="https://github.com/jreiher2003" target="_blank" class="git">GitHub</a></li>
				<li><a href="https://www.linkedin.com/nhome/" target="_blank" class="linkedin">LinkedIn</a></li>
				<li><a href="https://twitter.com/BigJeffDogg" target="_blank" class="twitter">Twitter</a></li>
				<li><a href="https://www.facebook.com/jeff.reiher" target="_blank" class="facebook">Facebook</a></li>
			</ul>	
			<div class="bottom-footer">
				<figure>
				<a href="#"><img class="foot" src="static/images/images_dest/jeffreihercom_crop-200_small.svg" alt="logo of jeffreiher.com"></a>
				<figcaption>&#169;&nbsp;Copyright 2015 DSAC LLC.&nbsp; All Rights Resevered</figcaption>
				</figure>
			</div>
		</footer>

	</div>

	<script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	
	<script type="text/javascript" src="/static/js/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="/static/js/jcarousel.responsive.js"></script>
	<script type="text/javascript" src="/static/js/menu.js"></script>
	
</body>
</html>