body {
	font-family: sans-serif;
	font-size: 1.2em;
	line-height: 1.2em;
}
.container {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	border: 1px solid black;
	background: repeating-linear-gradient(
	  to right,
	  #e5e5e5,
	  #e5e5e5 2px,
	  #fff 1px,
	  #fff 25px
	          );
}
.header {
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, .9);
	padding: 5px;
}
.icon {
	font-size: 22px;
	color: rgba(255,255,255,1);
}
img.head{
	float: right;
	height: 60px;
	margin-right: 20px;
}
ul.dropdown-menu {
    background-color: black;
    opacity: .8;
    border-radius: 5%;
    margin-top: 1em;
}

.dropdown-menu>li>a {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #F5EAEA;
    white-space: nowrap;
    background-color: #150101;
    text-transform: uppercase;
    font-size: 1em;
}
.profile, .name {
	width: 100%;
	height: auto;
	padding: 15px;
	
}
.jcarousel ul li img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(0,0,0,1);
}

.name p {
	background-color: #fff;
	border: 1px solid rgba(192,192,192,1);
	font-size: 24px;
	line-height: 1.2em;
	text-align: center;
	padding-top: 5px; 
}
table.table {
	display: none;
}
span {
	/* font-size: .4em; */
	/* text-transform: uppercase; */
	/* margin-left: 1.2em; */
}


hr {
	width: 100%;
}
hr.style-eight {
    padding: 0;
    border: none;
    border-top: 12px double rgba(51,51,51,1);
    color: #333;
    text-align: center;
}
hr.style-eight:before {
    content: url('../images/images_dest/jwblack21-16_icon.svg');
    display: inline-block;
    position: relative;
    top: -.9em;
    font-size: 2em;
    padding: 0.25em 0.25em;
    background-color: rgba(245,245,245,1);
}
button:visited {
	background-color: black;
	color: inherit;
}
.button1, .button2 {
	width: 100%;
	padding: 25px;
	text-align: center;
	background-color: rgba(0,0,0,.75);
}

.button1 a, .button2 a {
    text-decoration: none;
}

.button1 button, .button2 button {
	background-color: rgba(36,208,12,1);
	width: 225px;
	height: 40px;
	margin: auto;
    display: block;
    
	color: rgba(245,245,245,1);
    font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 
	border: 1px solid;
	border-color: rgba(18,59,25,1);
	border-radius: 5%;
}

.button2 button {
	background-color: rgba(231,166,2,1);
	border-color: rgba(66,45,10,1);
}
.button1 button:hover {
	background-color: rgba(36,255,12,1);
	/*transition: color .5s;*/
/* 	color:black; */
}
.button2 button:hover {
	background-color: rgba(255,235,2,1);
}

.info1, .info2 {
	width: 100%;
	height: auto;
	background-color: rgba(255,255,255,1);
	border-top: 1px solid;
}

.info1 h4, .info2 h4 {
	text-align: center;
	font-weight: bold;
	font-size: 1.8em
}
.info1 ul, .info2 ul {
	line-height: 1.5;
	font-size: 1.5;
}
.info1 ul li, .info2 ul li {
	list-style-type: none;
	padding-top: 4px;
	font-size: 1.3em;
}


footer {
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,1);
}

footer ul li: {
	list-style: none;
	padding: 0;
}

ul.social {
	font-family: FontAwesome;
	font-size: 1em;
	width: 100%;
	text-align: center;
	padding: 20px 0 20px 0;
	margin: 10px 0 10px 0;
	border-bottom: 2px solid rgba(175,175,175,1);

}
ul.social li {
	display: inline-block;
	position: relative;
	width: auto;
	height: auto;
	line-height: 20px;
	padding-left: 25px;
	font-size: 1.3em;
	color: rgba(175,175,175,1);
}

.social li a {
	position: relative;
	color: rgba(175,175,175,1);
	display: block;
	width: auto;
	text-decoration: none
}
.social li a:hover {
	color: rgba(255,255,255,1);
}

.git:before {
	content: '\f09b';
	padding-right: 10px;

}
.linkedin:before {
	content: '\f0e1';
	padding-right: 10px;
}
.twitter:before {
	content: '\f099';
	padding-right: 10px;
}
.facebook:before {
	content: '\f082';
	padding-right: 10px;
}

.bottom-footer {
	width: 100%;
	text-align: center;
}
img.foot {
	display: block;
	margin: 0 auto;
}
figure {
	margin-bottom: 10px;
	
}

figcaption {
	color: rgba(175,175,175,1);
}

button:link{color:inherit}
button:active{color:inherit}
button:visited{color:inherit}
button:hover{color:inherit}

@media screen and (min-width: 500px) {

	table.table {
		
	}
	.button1 {
		width: 50%;
	}
	.button2 {
		width: 50%;
	}
	.button1 button, .button2 button {
		max-width: 220px;
	}
	.header img .jwr {
		display: none;
	}
}

@media screen and (min-width: 750px) {
	.icon {
		display: none;
	}
	.info1 {
		width: 50%;
	}
	.info2 {
		width: 50%;
	}
}

@media screen and (min-width: 850px) {
	.container {
		width: 850px;
		margin-left: auto;
		margin-right: auto;
	}
	.wrapper {
		width: 70%;
	}
	table.table {
		display: block;
		background-color: rgba(255,255,255,1);
		border-spacing: 0.5rem;
		width: 30%;
	/*border: 1px solid;*/
	}
	th {
		font-size: 2em;
	}
	tr {
		font-size: 1em;
		line-height: 1em;
	}
	footer {
		padding: 40px 0 20px 0;
	}
	ul.social {
		width: 50%;
		float: right;
		margin-right: 20px;
		border-top: 2px solid rgba(175,175,175,1);
		
	}
	.bottom-footer {
		width: 50%;
	}
	
}